.marginSeccion {
    margin: 2rem 0rem;
}
.marginElement {
    margin: 1rem 0rem;
}
.mensergerDanger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 1rem;
    margin: 1rem 0rem;
    text-align: center;
}